<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzh.mapper.ReviewCommentMapper">
    <select id="countByReviewIds" resultType="map">
        SELECT
        review_id,
        COUNT(*) AS count
        FROM review_comment
        WHERE review_id IN
        <foreach
                collection="reviewIds"
                item="id"
                open="("
                separator=","
                close=")">
            #{id}
        </foreach>
        GROUP BY review_id
    </select>

</mapper>